<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Update Event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Update an event</h1>
    <form  th:object="${event}" th:action="@{/events/update/}+${event.id}"  method="post">

      <div class="form-group">
        <p class="text-danger">* Required</p>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Name:</label><a class="text-danger"> *</a>
        <input class="form-control" type="text" name="name" id="name" th:field="*{name}" th:placeholder=${event.name}  autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('date')}? has-error">
        <label for="date">Date:</label><a class="text-danger"> *</a>
        <input class="form-control" type="date" name="date" id="date" th:field="*{date}" th:placeholder=${event.date} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</p>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('time')}? has-error">
        <label for="time">Time:</label>
        <input class="form-control" type="time" name="time" id="time" th:field="*{time}" th:placeholder=${event.time} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</p>
      </div>

      <div class="form-group">
        <label for="venue">Venue:</label><a class="text-danger"> *</a>
        <select th:field="*{venue}" class="form-control">
          <option th:each="venue : ${allVenues}" th:value="${venue.id}" th:text="${venue.name} + ' (Capacity: ' + ${venue.capacity} + ')'"></option>
		</select>
      </div>

	<div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
        <label for="description">Event description:</label>
        <textarea class="form-control" style="height: 50px; padding-bottom: 50px;" type="text" name="description" id="description" th:field="*{description}" th:placeholder=${event.description} autofocus="autofocus"></textarea>
        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</p>
      </div>

      <button class="btn btn-primary" type="submit" ><i class="fas fa-save" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" th:href="@{/events}"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>      
      </div>
    </form>
  </div>
</body>
</html>