<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Create a Venue</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Create a Venue</h1>
    <form  th:object="${venue}" th:action="@{/venues/newVenue/}" action="#" method="post">
     
      <div class="form-group">
        <p class="text-danger">* Required</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Name:</label><a class="text-danger"> *</a>
        <input class="form-control" type="text" name="name" id="name" th:field="*{name}" th:placeholder=${venue.name}  autofocus="autofocus"/>
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('roadName')}? has-error">
        <label for="roadName">Road Name:</label><a class="text-danger"> *</a>
        <input class="form-control" type="text" name="roadName" id="roadName" th:field="*{roadName}" th:placeholder=${venue.roadName} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('postcode')}? has-error">
        <label for="postcode">Post code:</label>
        <input class="form-control" type="text" name="postcode" id="postcode" th:field="*{postcode}" th:placeholder=${venue.postcode} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
        <label for="capacity">Capacity:</label>
        <input class="form-control" type="number" name="capacity" id="capacity" th:field="*{capacity}" th:placeholder=${venue.capacity} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
      </div>


      <button class="btn btn-primary" type="submit" ><i class="fas fa-save" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" th:href="@{/venues}"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
