<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
    <meta charset=utf-8 />
    <title>Event Details</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
  #map-container { 
  	margin:0;
  	margin-bottom:650px;
  	padding:0; 
  }
  #map {
  	position:absolute;
  	width:1100px;
  	height:600px
  }

  .mapboxgl-popup { 
  	max-width: 200px;
  }
  .mapboxgl-popup-content {
  	text-align: center;
  	font-family: 'Open Sans', sans-serif;
  }
</style>
</head>

<body>
	
    <div layout:fragment="content">
      <div class = "card bg-light text-dark">
     <blockquote class="card-body">
     <br>
     <h1 th:text="${event.name}"> Text</h1>
      <p> <b>Venue: </b></p>
          <p>
            <a th:href="@{/venues/details/{num}(num=${event.venue.id})}" th:text="${event.venue.name}">My Event</a>
          </p>
      <p > <b>Date: </b></p>
      <p th:text="${event.date}"></p>
      <p></p>
      <p > <b>Time: </b></p>
      <p th:text="${event.time}"></p>

      <p > <b>Summary: </b></p>
      <p th:text="${event.summary}"></p>
      <p></p>
      <p > <b> Description: </b></p>
      <p th:text="${event.description}"></p>
      <a class="btn btn-primary btn-back" role="button" onclick="history.go(-1);" style="color:#FFFFFF"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
	</blockquote>
	
    </div>
        <div sec:authorize="hasRole('ADMINISTRATOR')">
        	<p></p>
            <table>
                <tr>
                    <td>
                        <a th:href="@{/events/update/{id}(id=${event.id})}" class="btn btn-primary"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit </a>
                    </td>
                    <td>
                        <form th:action="@{/events/delete/{id}(id=${id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete Event</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        
        <div th:if="${response}">
    	<div class="alert alert-success alert-dismissible fade show" role="alert">
  			Your tweet: <strong th:text = "${response}"></strong> was posted
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
    	</div>
    	
    	<div th:if="${error}">
    	<div class="alert alert-danger alert-dismissible fade show" role="alert">
  			Tweet was not posted: <strong th:text = "${error}"></strong>
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
    	</div>
    
     <br>
       <form th:action="@{/events/tweet/{num}(num=${id})}" th:method="post">
         <p><b> Share the event </b></p>
         <input type="text" class="form-control" name="tweet" th:placeholder="${event.name}">
         <br>
         <button id="tweetBtn" type="submit" class="btn btn-primary" onclick="displaySuccessBox()"><i class="fab fa-twitter-square"></i> Send tweet</button>
       </form>
   <br><br>
        
        <div id='map-container'>
            <div id='map'></div>
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/

        var latit = /*[[${latit}]]*/ 0;
        var longtit = /*[[${longtit}]]*/ 0;
        var name = /*[[${event.name}]]*/ 'NO name';
        var time = /*[[${event.time}]]*/ 0;
        

        L.mapbox.accessToken = 'pk.eyJ1IjoiYXNvbGkiLCJhIjoiY2wxYWl3NzUyMXk3bTNpc2d4a3BrYmlpMiJ9.T1Lq2KsPQlAuWIAhg1Lh2g';
        var map = L.mapbox.map('map')
            .setView([latit, longtit], 15)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

        var popup = L.popup()
            .setContent('<p>' + name + '</p>' + '</br>' + '<p>Starts at ' + time + '</p>');

        var marker = L.marker([latit, longtit], {
            icon: L.mapbox.marker.icon({
                'marker-size': 'large',
                'marker-symbol': 'bar',
                'marker-color': '#fa0'
            })
        }).bindPopup(popup).addTo(map);


        /*]]>*/
        </script>
    </div>
</body>

</html>